<!-- Footer Fragment -->
  <div th:fragment="footer">
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container text-md-left">
        <div class="row text-md-left">

          <!-- Quick Links -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold">Quick Links</h5>
            <p><a th:href="@{/}" class="text-white text-decoration-none">Home</a></p>
            <p><a th:href="@{/blog}" class="text-white text-decoration-none">About</a></p>
            <p><a th:href="@{/gallery}" class="text-white text-decoration-none">Gallery</a></p>
            <p><a th:href="@{/contact_us}" class="text-white text-decoration-none">Contact</a></p>
          </div>

          <!-- Services -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold">Services</h5>
            <p><a th:href="@{/servicess/corporate_events}" class="text-white text-decoration-none">Corporate Events</a></p>
            <p><a th:href="@{/servicess/wedding_planners}" class="text-white text-decoration-none">Wedding Planner</a></p>
            <p><a th:href="@{/servicess/music_entertainment}" class="text-white text-decoration-none">Music & Entertainment</a></p>
            <p><a th:href="@{/servicess/private_parties}" class="text-white text-decoration-none">Private Parties</a></p>
            <p><a th:href="@{/servicess/college_fests}" class="text-white text-decoration-none">School & college Fests</a></p>
          </div>

          <!-- Other Links -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold">Other Links</h5>
            <p><a th:href="@{/blog}" class="text-white text-decoration-none">Blog</a></p>
            <p><a th:href="@{/testimonials}" class="text-white text-decoration-none">Testimonials</a></p>
            <p><a href="https://policies.google.com/privacy?hl=en-US" class="text-white text-decoration-none">Privacy Policy</a></p>
            <p><a href="https://policies.google.com/privacy?hl=en-US" class="text-white text-decoration-none">Cancellation and Refund Policy</a></p>
            <p><a href="https://policies.google.com/privacy?hl=en-US" class="text-white text-decoration-none">Terms of Service</a></p>
          </div>

          <!-- Contact Info -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold">Contact Info</h5>
            <p>Melodia Event Management, T V Center, Kakkanad, Kochi, Kerala 682037</p>
            <p>Melodia Event Management, Flamon Complex, Main Rd, Kuriachira, Thrissur, Kerala 680006</p>
            <p>Melodia Event Management, Door No: VP 22/152ABC, Vazhakkad Panchayath, Oorkadavu, Po, Oorkadav, Akkod, Kozhikode, Kerala 673640</p>
          </div>

        </div>

        <hr class="mb-4">
        <div class="row align-items-center">
          <div class="col-md-7 col-lg-8">
            <p>© 2025 Melodia Event Management. All rights reserved.</p>
          </div>
          <div class="col-md-5 col-lg-4">
            <div class="text-center text-md-right">
              <a href="https://eventsmanagementkerala.com/" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
              <a href="https://eventsmanagementkerala.com/" class="text-white me-4"><i class="fab fa-twitter"></i></a>
              <a href="https://eventsmanagementkerala.com/" class="text-white me-4"><i class="fab fa-instagram"></i></a>
              <a href="https://eventsmanagementkerala.com/" class="text-white me-4"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>