<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ADD STUDENT</h1>
  <form th:action="@{/edit-student(id=${student.id})}"  enctype="multipart/form-data"method="post" th:object="${studentDTO}">
    <label for="name">NAME</label>
    <input type="text"  name="name" th:field="*{name}" id="name" placeholder="eneter your name"><br>
	<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
	
    <label for="age">AGE</label>
    <input type="number" name="age" th:field="*{age}" id="age" placeholder="eneter your age"><br>
	<p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
       
    <label for="email">EMAIL</label>
    <input type="text" name="email"  th:field="*{email}" id="email" placeholder="eneter your email" value="admin"><br>
	<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    
	<label for="password">PASSWORD</label>
    <input type="password" name="password" th:field="*{password}" id="password" placeholder="eneter your password"><br>
	<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    
	<label for="image">IMAGE</label>
	<img  alt="image"  width="100px" height="100px"    th:src="@{'images/'+${student.imagePath}}"><br>
	         
	    <input type="file" id="image"  th:field="*{image}" ><br>
		<p th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></p>
	    
	
	
	<input type="submit" value="EDIT STUDENT">


  </form>
</body>
</html>