<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>listof students</h1>
    <a th:href="@{/add-student}">ADD STUDENT</a>
	<div  th:if="${success}">
		<p th:text="${success}"></p>
	</div>

    <table border="1" style="border-collapse:collapse;" >
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
				<th>NAME</th>
                
                <th>AGE</th>
                <th>EMAIL</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.name}"></td>
                <td>
                    <img  alt="image"  width="100px" height="100px"    th:src="@{'images/'+${student.imagePath}}">
                </td>
                <td th:text="${student.age}"></td>
                <td th:text="${student.email}"></td>

               
                <td>
					<a th:href="@{/std-delete(id=${student.id})}">delete</a>
                <a th:href="@{/std-edit(id=${student.id})}">edit</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>